<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    <link rel="icon" type="image/svg+xml" href="favicon.svg" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>
    <title>Book Details</title>
</head>
<body>

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-bottom: 20px">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Read With Me</a>
        </div>
    </nav>

    <div th:insert="~{fragments/book-search :: search-panel}"></div>

    <section class="content">
        <div class="card">
            <div class="row g-0">
                <div class="col-md-4">
                    <img class="img-fluid rounded-start" alt="cover image" th:src="${coverImage}"/>
                </div>

                <div class="col-md-8">
                    <div class="card-body">
                        <h5 th:text="${book.name}" class="card-title display-4">Book name</h5>

                        <p th:text="${book.authorNames}" class="card-text display-5">Author name</p>

                        <p th:text="${book.description}" class="card-text display-6">Book description</p>
                        <p class="card-text">
                            Publish Date: <small th:text="${book.publishDate}" class="text-muted">2023-01-01</small>
                        </p>

                        <form th:if="${loginId != null}" th:action="@{/addUserBook}" method="post">
                            <div class="mb-3">
                                <label for="startDate" class="form-label">Start Date</label>
                                <input id="startDate" name="startDate" type="date"
                                       class="form-control" th:value="${userBooks.startedDate}">
                            </div>
                            <div class="mb-3">
                                <label for="completedDate" class="form-label">End Date</label>
                                <input id="completedDate" name="completedDate" type="date"
                                       class="form-control" th:value="${userBooks.completedDate}">

                            </div>

                            <div class="mb-3">
                                <label for="readingStatus" class="form-label">Status</label>
                                <select id="readingStatus" name="readingStatus" class="form-select"
                                        aria-label="Reading status" th:field="${userBooks.readingStatus}">
                                    <option selected value="3">Status</option>
                                    <option value="0-reading">Currently Reading</option>
                                    <option value="1-finished">Finished</option>
                                    <option value="2-dnf">Did not finish</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="rating" class="form-label">Rating</label>
                                <select id="rating" name="rating" class="form-select"
                                        aria-label="Rating" th:field="${userBooks.rating}">

                                    <option selected value="0">Select Rating</option>
                                    <option value="1">&#9733;</option>
                                    <option value="2">&#9733;&#9733;</option>
                                    <option value="3">&#9733;&#9733;&#9733;</option>
                                    <option value="4">&#9733;&#9733;&#9733;&#9733;</option>
                                    <option value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
                                </select>
                            </div>

                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                            <input type="hidden" name="bookId" th:value="${book.id}"/>

                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
</body>
</html>