<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Read With Me</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
</head>
<body>
<h1>Read With Me</h1>
<p>
    Welcome to Read With Me App. Login to continue
</p>
<div>
    With GitHub: <a href="/oauth2/authorization/github">click here</a>
    <div th:insert="fragments/book-search :: search-panel"></div>
</div>
</body>
</html>
