<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
    <title>Read With Me</title>
</head>
<body>

<main class="container text-center mt-5">

    <h1 class="display-5 fw-bold">Read With Me</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-lg-5">Control your reading habit. Track the books you read and fuel your reading.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-lg-4">
            <a type="button" class="btn btn-primary btn-lg px-4 gap-3"
               href="/oauth2/authorization/github">Login via GitHub</a>
        </div>

        <p class="lead mb-lg-4">Or search for a book</p>

        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <div th:insert="~{fragments/book-search :: search-panel}"></div>
        </div>

    </div>

</main>

</body>
</html>
